*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;

}
.cabecalho {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    
}
.cabecalho h1{
    border-bottom: 5px solid;
    padding-bottom: 5px;
    
}